{% extends 'html/template.html' %}
{% block content %}
<main role="main" class="container">
  <div>
    <h1>Separtech Printer page</h1>
    <div class="card manual-input-card">
      <div class="card-header">
        Manual printing form
      </div>
      <div class="card-body">
        <form action="/print" class="form-inline" method="post">
          <div class="form-group mb-2">
            <label for="barcodeInput">Barcode Input</label>
            <input type="text" name="barcode" class="form-control" id="barcodeInput" aria-describedby="barcodeHelp" placeholder="Enter barcode">
          </div>
          <div class="form-group mb-2">
            <input type="text" name="name" class="form-control" id="nameInput" placeholder="Enter part name">
          </div>
          <div class="mb-2">
            <input type="number" name="number" class="form-control" step="1" placeholder="Number">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Print</button>
        </form>
      </div>
    </div>
    <div class="card code-update-card">
      <div class="card-header">
        In case of fire
      </div>
      <div class="card-body">
        <form action="/update" class="form-inline" method="post">
          <button type="submit" class="btn btn-primary mb-2">Update Code</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
