{% extends 'html/template.html' %}
{% block content %}
<main role="main" class="container">
  <div>
    <h1>Part listing</h1>
    <div class="card manual-input-card">
      <div class="card-body">
        <form action="/part/add" class="form-inline" method="post">
          <div class="form-group mb-2">
            <input type="text" name="barcode" class="form-control" id="barcodeInput" placeholder="Enter barcode">
          </div>
          <div class="mb-2">
            <input type="text" name="name" class="form-control" id="nameInput" placeholder="Enter part name">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Add</button>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Barcode</th>
            </tr>
          </thead>
          <tbody>
            {% for item in parts %}
              <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
